$i: 5;

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @each $media in $screen-size {
    $minW: nth($media, 1);
    $value: nth($media, 2);
    $size: nth($sizes-name, $i);
    $sizeName: nth($size, 2);

    @media screen and (min-width: $minW+px) {
      max-width: $value+px;
    }

    /*&-#{$sizeName}{
      max-width: $value+px;
    }

    $i: $i - 1;*/
  }

  &-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}